@import "yoyo.less";

atom-text-editor {
	background-color: @bg_one;
	color: @color_1;

	.invisible-character,
	.indent-guide {
		color: @color_2;
	}

	.gutter {
		background-color: @bg_2;
	}

	.gutter .line-number {
		color: @color_3;
	}

	.gutter .line-number.folded,
	.gutter .line-number:after,
	.fold-marker:after {
		color: @color_4;
	}

	.cursor-line {
		background-color: @bg_3;
	}

	.cursor {
		border-color: @border_1;
	}

	.selection .region {
		background-color: @bg_4;
		color: @color_5
	}

	.line-number.cursor-line-no-selection {
		background-color: @bg_5;
		color: @color_6;
	}

	.wrap-guide {
		background-color: @bg_6;
	}
}

.bracket-matcher {
	background-color: @bg_7;
	opacity: 0.4;
	border: @border_2;
}

.syntax--comment {
	color: @color_7;
}

.syntax--entity {
	color: @color_8;
}

.syntax--entity.syntax--name.syntax--type.syntax--class {
	color: @color_9;
}

.syntax--keyword {
	color: @color_10;
}

.syntax--storage.syntax--type {
	color: @color_11;
}

.syntax--storage.syntax--modifier {
	color: @color_12;
}

.syntax--constant {
	color: @color_13;

	&.syntax--numeric,
	&.syntax--boolean {
		color: @color_14;
	}
}

.syntax--variable {
	color: @color_15;
}

.syntax--delimiter, .syntax--brace {
	color: @color_16;
}

.syntax--delimiter.syntax--period {
	color: @color_17;
}

.syntax--invalid.syntax--deprecated {
	text-decoration: underline;
	color: @color_18;
}

.syntax--invalid.syntax--illegal {
	color: @color_19;
}

.syntax--string {
	color: @color_20;

	.syntax--constant.syntax--character.syntax--escape {
		color: @color_21;
	}

	&.syntax--regexp {
		color: @color_22;
	}
}

.syntax--source.syntax--ruby.syntax--embedded,
.syntax--string.syntax--regexp.syntax--arbitrary-repitition {
	color: @color_23;
}

.syntax--keyword.syntax--other.syntax--phpdoc {
	color: @color_24;
}

.syntax--entity.syntax--name.syntax--tag {
	color: @color_25;
}

.syntax--entity.syntax--other.syntax--attribute-name {
	color: @color_26;
}

.syntax--new {
	color: @color_27;
}

.syntax--support.syntax--function {
	color: @color_28;
}

.syntax--function-call {
	color: @color_29;
}

.syntax--punctuation {
	color: @color_30;
}

.syntax--class {
	color: @color_31;
}

.syntax--operator {
	color: @color_32;
}

.syntax--comment .syntax--class,
.syntax--comment .syntax--keyword,
.syntax--comment .syntax--punctuation {
	color: @color_33;
}

.syntax--closure {
	color: @color_34;
}

atom-workspace {
	background-color: @bg_8;
	color: @color_35;
}
