@color_1: #edebe6;
@color_2: lighten(#211f1e, 10%);
@color_3: lighten(#211f1e, 25%);
@color_4: #516b6b;
@color_5: #ffffff;
@color_6: lighten(#211f1e, 30%);
@color_7: #3f3a36;
@color_8: #70807b;
@color_9: #edebe6;
@color_10: #a2a797;
@color_11: #a2a797;
@color_12: #516b6b;
@color_13: #516b6b;
@color_14: #a5e3d0;
@color_15: #edebe6;
@color_16: #edebe6;
@color_17: #516b6b;
@color_18: #dc322f;
@color_19: #dc322f;
@color_20: #a5e3d0;
@color_21: #dc322f;
@color_22: #a5e3d0;
@color_23: #dc322f;
@color_24: #605852;
@color_25: #a2a797;
@color_26: #516b6b;
@color_27: #a2a797;
@color_28: #cf433e;
@color_29: #70807b;
@color_30: #edebe6;
@color_31: #516b6b;
@color_32: #a2a797;
@color_33: #3f3a36;
@color_34: #edebe6;
@color_35: #edebe6;

@bg_one: #211f1e;
@bg_2: darken(#211f1e, 4%);
@bg_3: lighten(#211f1e, 4%);
@bg_4: #516b6b55;
@bg_5: lighten(#211f1e, 4%);
@bg_6: lighten(#211f1e, 10%);
@bg_7: #516b6b;
@bg_8: #211f1e;

@border_1: #f8f8f0;
@border_2: 1px solid #edebe6;
